@use 'sass:list';
@use '../abstracts' as *;
@use '../vendors' as *;

/* Footer styles */ 

footer {
    margin-top: 100px;
    padding-top: 50px;
    background-color: var(--secondary-color);
    color: var(--neutral-light);
    padding: 1rem;
    text-align: center;
    position: relative;
    min-height: 250px;
}

.footer-social {
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.footer-social ul {
    display: flex;
    gap: .5rem;
    justify-content: center;
    list-style: none;
    padding: 1rem;
}

nav.footer-nav ul {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

nav.footer-nav li {
    padding-bottom: 1rem;
}


.footer-nav a,
.footer-social a {
    text-decoration: none;
    color: var(--neutral-light);
}

.disclaimer,
.copyright {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

@include media('>=desktop') {
    .footer-nav ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
}
