@use 'sass:list';
@use '../abstracts' as *;
@use '../vendors' as *;


/* MARKUP FOR MAIN NAVIGATION  */

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    position: absolute;
    top: 23px;
    right: 0;
    margin-right: 1rem;
    height: 25%;
    display: flex;
    align-items: center;
}

nav.main-nav {
    position: absolute;
    text-align: left;
    width: 90%;
    top: 100%;
    left: 5%;
    background-color: var(--kumon-purple);
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

nav.main-nav ul {
  margin: 0 auto;
  width: 80%;
}

nav.main-nav ul li:first-child {
  margin-top: 2rem;
  padding-top: 1rem;
  border-top: 1px solid #fff;
}

nav.main-nav ul li:last-child {
  margin-bottom: 2.5rem;
}

nav.main-nav li {
    margin-top: .5rem;
    margin-bottom: .5rem;
    padding-top: .5rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #fff;
}

nav.main-nav a {
    color: white;
    font-size: 1.25rem;
    font-family: 'Fira Sans';
    font-weight: 400;
    text-decoration: none;
    opacity: 0;
    transition: opacity 400ms ease-in-out;
}

nav.main-nav a:hover {
    color: $clr-secondary;
}

.nav-toggle:checked ~ .main-nav {
    transform: scale(1,1);
}

.nav-toggle:checked ~ .main-nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

/* SVG STYLES FOR HAMBURGER MENU - Created by Amy Dutton */
/* Created by Amy Dutton */

#top,
#bottom {
  transition: stroke-dashoffset 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

#middle {
  opacity: 1;
  transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  stroke: var(--kumon-purple);
  stroke-miterlimit: 10;
  stroke-width: 1.75px;
}

path {
  stroke-dasharray: 25 45;
  stroke-dashoffset: 0;
}

span.hamburger {
  background: none;
  border: none;
}

.x #middle {
  opacity: 0;
}

.x #top,
.x #bottom {
  stroke-dashoffset: -45;
}

@include media('>=desktop') {
    .nav-toggle-label {
        display: none;
    }
    header {
      display: grid;
      grid-template-columns: 5% minmax(auto, 400px) 1fr 1fr 1fr minmax(auto, 400px) 5%;
      grid-template-rows: auto;
      grid-template-areas: 
        '. logo logo . . location-info .'
        '. title title . . location-info .'
        '. nav nav nav nav nav .';
    }
    .logo {
      grid-area: logo;
      text-align: left;
    }

    nav.main-nav {
      all: unset;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      grid-area: nav;
    }

    .hdr-loc-title{
      grid-area: title;
      text-align: left;
      padding-bottom: 1rem;
    }

    nav.main-nav ul li:first-child {
      margin-top: 0;
      border-top: 0;
    }

    nav.main-nav ul li:last-child {
      margin-bottom: 0;
    }

    nav.main-nav a {
      opacity: 1;
      color: #000;
    }

    nav.main-nav ul {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      width: 100%;
    }

    nav.main-nav li {
      margin-bottom: 0;
      padding-bottom: 0;
    }

    .hdr-loc-info * {
      max-width: 100%;
    }

    .hdr-loc-info {
      grid-area: location-info;
      text-align: right;
      justify-self: end;
    }
   
}



